<div class="contents-row">
  <div class="success">
    <div class="success-item1">
      <h3>投稿が完了しました</h3>
    </div>
    <hr>
    <div class="success-item2">
      <p>内容確認をさせていただき、ご連絡させていただきます。</p>
      <p>今しばらくお待ち下さいませ。</p>
    </div>
  </div>
</div>