<%#workスタート--------------------------------------%>
<div class="wrap fadeUpTrigger">
  <h1><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">WORK</span></span></h1>
</div>
  <div class="wrapper fadeUpTrigger">
    <ul class="tab">
      <li><a href="#YouTube">YOUTUBE</a></li>
      <li><a href="#instagram">INSTAGRAM</a></li>
      <li><a href="#photo">PHOTO</a></li>
      <li><a href="#personaljob">PERSONAL JOB</a></li>
    </ul>

    <div id="YouTube" class="area-tab fadeUpTrigger">
      <div class="tab-skill1">
        <div class="tab-skill2">
          <div class="tab-photo"><img src="/assets/3219973_adobe_premiere_square_icon.png" alt="nozomi-hasei"></div>
          <h2>Adobe premire pro</h2>
        </div>
          <div class="tab-photo"><img src="/assets/Laptop-video-editing-362313 2.jpg" alt="nozomi-hasei"></div>
          <div class="tab-photo"><img src="/assets/Video-editing-timeline-906870.jpg" alt="nozomi-hasei"></div>
      </div>
      <div class="container-work">
        <div class="item fadeUpTrigger"><video src="/videos/名称未設定.mp4" controls autoplay muted>></video></div>
        <div class="item fadeUpTrigger" id="skill-word">
          <h2>RINGJACKET Napoli fair</h2>
          <hr>
          <p>期間限定のフェア告知動画を制作</p>
          <p>フェアDM（手紙）にQRコードを貼り付け活用</p>
        </div>
        <div class="item fadeUpTrigger" id="skill-word">
          <h2>RINGJACKET Napoli intoroduction</h2>
          <hr>
          <p>2022春夏シーズンで新宿店スタッフが欲しい商品をご紹介</p>
          <p>弊社YouTubeアカウント、新宿店インスタグラムで公開</p>
        </div>
        <div class="item fadeUpTrigger"><video src="/videos/シーケンス 01_1-[onlinevideoconverter.com].mp4" controls autoplay muted>></video></div>
        <div class="item fadeUpTrigger"><video src="/videos/21FW Order Fair-[onlinevideoconverter.com].mp4" controls autoplay muted>></video></div>
        <div class="item fadeUpTrigger" id="skill-word">
          <h2>RINGJACKET order fair</h2>
          <hr>
          <p>半期に一度開催するオーダーフェアのご紹介</p>
          <p>弊社のオーダーシステム、オーダーフェア内容を網羅<p>
          <p>弊社YouTubeアカウント、新宿店インスタグラムで公開</p>
        </div>
      </div>
    </div>
    <div id="instagram" class="area-tab">
      <div class="container-work">
        <div class="item fadeUpTrigger" id="skill-word">
          <h2><a href="https://www.instagram.com/ringjacket_shinjuku/"><img id="logo" src="/assets/3225191_app_instagram_logo_media_popular_icon.png" ></a>RING JACKET SHINJUKU Instagram</h2>
          <hr>
          <p>新宿店の公式アカウント開設、コンテンツ制作、運営を経験</p>
        </div>
        <div class="item fadeUpTrigger"><a href="https://www.instagram.com/ringjacket_shinjuku/"><img src="/assets/bea21c12b7d4b7f46ebb5cb27397ad3a.png" alt=""></a>
        </div>
      </div>
    </div>
    <div id="photo" class="area-tab">
      <div class="wrapper fadeUpTrigger">
        <ul class="gallery">
          <li><a href="/assets/IMG_5887.JPG" data-lightbox="gallery1" data-title="山村テラス  (長野県南佐久郡佐久穂町)"><img src="assets/IMG_5887.JPG" alt=""></a></li>
          <li><a href="/assets/IMG_6480.JPG" data-lightbox="gallery1" data-title="グランドハイアット東京  （六本木）"><img src="/assets/IMG_6480.JPG" alt=""></a></li>
          <li><a href="/assets/BF6A8BFF-0A0E-48EF-A59D-2340336D03FE 2.JPG" data-lightbox="gallery1" data-title="JAZZ BAR 'MADURO'  (六本木)"><img src="/assets/BF6A8BFF-0A0E-48EF-A59D-2340336D03FE 2.JPG" alt=""></a></li>
          <li><a href="/assets/IMG_5298.JPG" data-lightbox="gallery1" data-title="絵画  (渋谷)"><img src="/assets/IMG_5298.JPG" alt=""></a></li>
          <li><a href="/assets/IMG_5709.JPG" data-lightbox="gallery1" data-title="RING JACKET 'SUIT STYLE'  (新宿)"><img src="/assets/IMG_5709.JPG" alt=""></a></li>
          <li><a href="/assets/8EF8AAF0-2E28-4AAD-BA8A-44C183885289.JPG" data-lightbox="gallery1" data-title="Friend snap  (丸の内)"><img src="/assets/8EF8AAF0-2E28-4AAD-BA8A-44C183885289.JPG" alt=""></a></li>
          <li><a href="/assets/24A41748-69B1-487C-9AA6-EFB337AA9C16.JPG" data-lightbox="gallery1" data-title="Fantastic snow scene  (江戸川区)"><img src="/assets/24A41748-69B1-487C-9AA6-EFB337AA9C16.JPG" alt=""></a></li>
          <li><a href="/assets/8C11AA29-E579-4D7B-B866-B7C80E852F46.JPG" data-lightbox="gallery1" data-title="Friend snap  (三軒茶屋)"><img src="/assets/8C11AA29-E579-4D7B-B866-B7C80E852F46.JPG" alt=""></a></li>
          <li><a href="/assets/IMG_5214.JPG" data-lightbox="gallery1" data-title="富士サファリパーク  (静岡県)"><img src="/assets//IMG_5214.JPG" alt=""></a></li>
          <li><a href="/assets/IMG_6456 2.jpg" data-lightbox="gallery1" data-title="Champagne  (自宅)"><img src="/assets/IMG_6456 2.jpg" alt=""></a></li>
          <li><a href="/assets/IMG_6501.jpg" data-lightbox="gallery1" data-title="Another Energy Exhibition (Mori Arts Center)"><img src="/assets/IMG_6501.jpg" alt=""></a></li>
          <li><a href="/assets/IMG_3566.jpg" data-lightbox="gallery1" data-title="東京駅(丸の内)"><img src="/assets/IMG_3566.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
    <div id="personaljob" class="area-tab">
      <div class="container-work">
        <div class="item fadeUpTrigger" id="skill-word">
          <h2>TRENZA PREMIUM</h2>
          <hr>
          <p>子供用の紳士服ブランドの宣伝写真の撮影</p>
          <p>調布市仙川のせんがわ劇場を背景に撮影（撮影許可取得）</p>
        </div>
        <div class="item fadeUpTrigger"><a href="https://www.mistore.jp/store/shinjuku/shops/men/business/shopnews_list/shopnews0260.html"><img src="/assets/IMG_4965.JPG" alt=""></a></div>
        <div class="item fadeUpTrigger"><a href="http://www.ringjacket.co.jp/ring-blog/blog/2019/11/27/ring-jacket-owner-why-i-choose-ring-jacket-shinjuku/"><img src="/assets/IMG_4853.jpg" alt=""></a></div>
        <div class="item fadeUpTrigger" id="skill-word">
          <h2>owners interview</h2>
          <hr>
          <p>@新宿</p>
        </div>
      </div>
    </div>
  </div>




<!---------------------PHOTO----------------------->
    <script>
      lightbox.option({
        'wrapAround': true,
        'albumLabel': ' %1 / total %2 '
      })
      function fadeAnime(){
      // flipLeft
      $('.gallery li').each(function(){ 
          var elemPos = $(this).offset().top;
          var scroll = $(window).scrollTop();
          var windowHeight = $(window).height();
          if (scroll >= elemPos - windowHeight){
              $(this).addClass('flipLeft');
          }else{
              $(this).removeClass('flipLeft');
          }
      });
      }
    
        $(window).scroll(function (){
          fadeAnime();/
        });
    
        $(window).on('load', function(){
          fadeAnime();/
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
    
<!---------------------tab----------------------->
    <script>
        function GethashID (hashIDName){
          if(hashIDName){
        		//タブ設定
            $('.tab li').find('a').each(function() { 
              var idName = $(this).attr('href'); 
              if(idName == hashIDName){ 
                var parentElm = $(this).parent(); 
                $('.tab li').removeClass("active"); 
                $(parentElm).addClass("active"); 
                $(".area-tab").removeClass("is-active"); 
                $(hashIDName).addClass("is-active"); 
              }
            });
          }
        }
        
        $('.tab a').on('click', function() {
          var idName = $(this).attr('href'); 
          GethashID (idName);
          return false;
        });
        
        
        $(window).on('load', function () {
            $('.tab li:first-of-type').addClass("active");
            $('.area-tab:first-of-type').addClass("is-active");
          var hashName = location.hash; 
          GethashID (hashName);
        });
    </script>
