<%#topスタート----------------------------------------%>
<div class="img-wrap">
  <div class="img-wrap1">
    <div class="top-photo"><img src="/assets/IMG_5918 4.JPG" alt="nozomi-hasei"></div>
  </div>
  <div class="top-photo-font">
    <%#<hr>%>
    <p>"Make a difference with people"</p>
  </div>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Meow+Script&display=swap');
  </style>
  <div class="img-wrap2">
    <div class="top-photo"><img src="/assets/IMG_5918 3.jpg" alt="nozomi-hasei"></div>
  </div>
</div>
