<%#ABOUTスタート--------------------------------------%>
<script>
  window.onscroll = function(){
    var scrollTop = window.pageYOffset ;
    if (scrollTop > 900 ) { 
      $('.area');
      $('.area').css('transition', '8.3s')
    }
    if (scrollTop < 1400 ) { 
      $('.area');
      $('.area').css('transition', '5.5s')
    }
  }
</script>

<div class="wrap fadeUpTrigger">
  <h1 id="about"><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">ABOUT</span></span></h1>
</div>
  <section class="area">
    <div class="luxy-el fadeUpTrigger" data-speed-x="5" ><img src="/assets/IMG_5920.JPG" alt="nozomi-hasei">
      <div class="box luxy-el " data-speed-y="-5" data-offset="380">
        <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">長谷井　望</span></span></h2>
        <hr>
          <p>1999年9月2日生まれ、岡山県出身</p>
          <p>父親の仕事の関係で学生時代は転勤が多く、様々な場所で生活し培った仲間や経験はかけがえのないものです。（岡山県、広島県、京都府、千葉県、東京都）</p>
          <p>自分自身の可能性を広げるため、サッカー、水泳、ピアノ、囲碁など幅広く経験しました。<p> 
          <p>自分自身の特徴は、冷静に物事を判断出来る点でそこから導き出した事に対して大胆に行動を行える点です。</p>
          <p>岡山学芸館高等学校：強化部活動のサッカー部に所属</p>
          <p>2015年高校サッカー選手権岡山大会第3位、高円宮杯プリンスリーグ中国1部昇格、スペインマドリード遠征</P>
          <p>駒澤大学 法学部：ゼミにて取調べの可視化や外国人の人権を学び、議論を行なった。</p>
      </div>
    </div>
  </section>
  <section class="area">
    <div class="luxy-el fadeUpTrigger"  data-speed-x="5" ><img src="/assets/Workplace-with-laptop-994210.jpg" alt="nozom-ihasei">
      <div class="box luxy-el " data-speed-y="-5" data-offset="370">
        <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">プログラミング</span></span></h2>
        <hr>
          <b><p><span class="line">プログラミングに興味を持ったキッカケ</span></p></b>
          <p>自分の根底にあるのは、”ハンドメイド” への敬意、”人の温もりが人の感情を動かす”、形あるモノづくりを大好きになった最大の理由です。</p>
          <p>そして ”写真や動画” 形のないデジタル上でのモノづくりを通して、自分にも0から1という、”新しい価値提供”が出来る喜びと自信が芽生えました。</p>
          <p>プログラミングに対する小さな接点から大きな接点となったのは、百貨店ECの業務に携わることになり、『どうすればより使いやすくなるのか』『どうすればお客様の興味関心を引くことが出来るのか』などサービスを提供する側の視点になった事が最大のきっかけです。</p>
          <b><p><span class="line">プログラミングの学習</span></p></b>
          <p>プロゲート・参考本・WEBを活用した勉強から開始しました。</p>
          <p>プログラミングスクールでの学習、また仕事をしながら学習するスタイルを選択した理由は、現職の業務へ学習したことのアウトプットを行いたかったため、また限りある時間の使い方の向上と時間内に学習の成果を出す癖作りができると感じたからです。</p>
          <p>プログラミング学習はプログラマーになるための学習であると考えていたましたが、エラーが起きれば必ずプログラムが動かず解決するための確認・修正の作業が必要不可欠です。これはどんな業務にも通ずる点であり、学習
          を通して問題解決する意識や力を伸ばすことも出来たと感じています。</P>
      </div>
    </div>
  </section>
  <section class="area">
    <div class="luxy-el fadeUpTrigger" data-speed-x="5" ><img src="/assets/nozomi.png" alt="nozomi-hasei">
      <div class="box luxy-el " data-speed-y="-5" data-offset="500">
        <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">セールスパーソン</span></span></h2>
        <hr>
          <p>株式会社 リングヂャケット （2016年〜）</p>
          <p>所属部署：ストアセールス1新宿店</p>
          <p>学生時代にイタリアのフィレンツェで開催されている世界最大のファッション見本市 "Pitti Imagine Uomo" に参加したことが、アパレル業界、株式会社リングヂャケットで働くキッカケとなりました。</p>
          <p>イタリアナポリの職人文化と日本人の体型に合わせた自社生産のハンドメイドスーツやジャケットの販売業務を行なっています。</p>
          <p>SNS担当(Instagram/YouTube）として写真や動画コンテンツの制作業務、また百貨店EC担当として商品出展業務も行なっています。</p>
          <p>2~3ヶ月に1度、店舗代表者として全社会議へ参加、ご紹介カード利用促進、購買導線の明確化などの提案を行い事業貢献しています。</p>
          <P><p>
      </div>
    </div>
  </section>
  <section class="area">
    <div class="luxy-el fadeUpTrigger" data-speed-x="5" ><img src="/assets/IMG_0549.JPG" alt="nozomi-hasei">
      <div class="box luxy-el" data-speed-y="-4" data-offset="550">
        <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">フォトグラファー & 動画クリエイター</span></span></h2>
        <hr>
          <p>学生時代から写真で思い出を残すことが好きでした。現職での業務を通して楽しさや探究心が芽生え、より一層写真や動画に対する熱量を高める大きなキッカケとなりました。</p>
          <p>写真：自社製品の商品撮影、スタッフのスナップ撮影などを行い、個人では同業他社様の宣材写真の撮影、パーソナルセラピスト様の宣材写真の撮影を経験させていただきました。</p>
          <p>動画：公式ブランドアカウントに投稿するYouTubeの企画・撮影・編集まで一貫して担当、百貨店HPへのイベント告知動画などの制作を経験し、SNSやWEBでの顧客体験向上に貢献しております。</p>
      </div>
    </div>
  </section>