<%#ABOUTスタート--------------------------------------%>
  <div class="wrap fadeUpTrigger">
    <h1 id="about"><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">ABOUT</span></span></h1>
  </div>
  <div id="luxy">
    <section class="area">
      <div class="luxy-el fadeUpTrigger" data-speed-x="5" ><img src="/assets/IMG_5920.JPG" alt="">
        <div clas="box luxy-el" data-speed-y="-5" data-offset="380">
          <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">長谷井　望</span></span></h2>
          <hr>
            <p>1999年9月2日生まれ、岡山県出身</p>
            <p>父親の仕事の関係で、学生時代は転勤が多く日本の様々な場所で生活をしてきました。（岡山県、広島県、京都府、千葉県、東京都）</p>
            <p>歳を重ねるにつれてこのような経験が出来たことに感謝しています。同じ時間を過ごした人とのつながりはかけがえのないものであり、私自身の強みです。<p> 
            <p>自分自身の特徴は、冷静に物事を判断出来る点、そこから導き出した事に対しての行動力が誇れる点です
            <p>岡山学芸館高等学校：強化部活動のサッカー部にて心身を鍛え、勉強との両立に励む。</p>
            <p>駒澤大学 法学部：ゼミにて取調べの可視化や外国人の人権を学び、議論を行なった。</p>
        </div>
      </div>
      <script>
        window.onscroll = function(){
          var scrollTop = window.pageYOffset ;
          if (scrollTop > 900 ) { 
            $('.area').css('background-color', 'black');
            $('.area').css('transition', '8.3s')
          }
          if (scrollTop < 1400 ) { 
            $('.area').css('background-color', 'black');
            $('.area').css('transition', '5.5s')
          }
        }
      </script>
    </section>
    <section class="area">
      <div class="luxy-el fadeUpTrigger"  data-speed-x="5" ><img src="/assets/Workplace-with-laptop-994210.jpg" alt="">
        <div class="box luxy-el " data-speed-y="-5" data-offset="370">
          <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">プログラミング</span></span></h2>
          <hr>
            <b><p><span class="line">プログラミングに興味を持ったキッカケ</span></p></b>
            <p>アパレル業界にて高級紳士服の販売業務やSNS・百貨店EC運営業務を担当する中で、WEBアプリケーションに触れる機会が増えました。</p>
            <p>『どうすればより使いよすくなるか』『どうすればお客様の興味関心を引くことが出来るのか』などサービスを提供する側の視点になったことが、プログラミングに興味を持ったキッカケです。</p>
            <b><p><span class="line">プログラミングの学習</span></p></b>
            <p>プロゲートや参考本を活用した勉強から開始し、実際に現場に出た時の質問方法やコードの書き方だけではなくアプリ
            の制作工程を仕事の合間時間を活用し出来るスクール（テックキャンプ）を選びました。</p>
            <p>プログラミング学習はプログラマーになるための学習であると考えていたが、エラーが起きれば必ずプログラムが動かず、解決するための確認・修正の作業はどんな業務にも通ずる点で、学習
            を通して問題解決する意識や力を伸ばすことも出来たと感じる。</P>
        </div>
      </div>
    </section>
    <section class="area">
      <div class="luxy-el fadeUpTrigger" data-speed-x="5" ><img src="/assets/nozomi.png" alt="">
        <div class="box luxy-el " data-speed-y="-5" data-offset="500">
          <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">セールスパーソン</span></span></h2>
          <hr>
            <p>株式会社 リングヂャケット （2016年〜）</p>
            <p>所属部署：ストアセールス１新宿店</p>
            <p>学生時代にイタリアのフィレンツェで開催されている世界最大のファッション見本市 "Pitti Imagine Uomo" に参加したことが、アパレル業界、株式会社リングヂャケットで働くキッカケとなりました。</p>
            <p>イタリアナポリの職人文化と日本人の体型に合わせた自社生産のハンドメイドスーツやジャケットの販売業務を行なっています。</p>
            <p>SNS担当(Instagram/YouTube）として写真や動画コンテンツの制作業務、また百貨店EC担当として商品出展業務も行なっています。</p>
            <p>2~3ヶ月に１度、店舗代表者として全社会議へ参加、ご紹介カード利用促進、購買導線の明確化などの提案を行い事業貢献しています。</p>
            <P><p>
        </div>
      </div>
    </section>
      
    <section class="area">
      <div class="luxy-el fadeUpTrigger" data-speed-x="5" ><img src="/assets/IMG_0549.JPG" alt="">
        <div class="box luxy-el" data-speed-y="-4" data-offset="550">
          <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">フォトグラファー & 動画クリエイター</span></span></h2>
          <hr>
            <p>現職での業務体験が写真や動画に対する熱量を高める大きなキッカケとなりました。</p>
            <p>写真：現職では自社製品の商品撮影、スタッフのスナップ撮影などを行い、個人では同業他社様の宣材写真の撮影、パーソナルセラピスト様のH宣材写真の撮影を経験。</p>
            <p>動画：現職ではブランドアカウントに投稿するYouTubeの企画・撮影・編集まで一貫して担当、百貨店HPへのイベント告知動画などの制作を経験。</p>
            <p>プライベートでも旅行などで撮影を行い、思い出に残すのが好きです。</p>
        </div>
      </div>
    </section>