<%#ORIGINAL APPスタート--------------------------------------%>
<div class="wrap fadeUpTrigger">
  <h1><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">ORIGINAL APP</span></span></h1>
</div>
  <div class="app-box1">
    <div class="app-box2 fadeUpTrigger">
      <a href="https://ringjacket.herokuapp.com/"><img src="assets/a0913fd3fd5ac8c30f22a0e16b932936.jpeg" alt=""></a>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>アプリの概要</h3>
        <hr>
        <p>アプリ名：RING JACKET お客様ご紹介サンプルアプリ</p>
        <p><a href="https://ringjacket.herokuapp.com/">Please see from this link</a></p>
      </div>
      <div class="app-word1">
        <h3>制作の背景</h3>
        <hr>
        <p>現職にて”新規獲得”という課題に対する施策の一つとして、紙媒体でのお客様ご紹介カードを非接触にて活用出来ないかと考えたのが開発のキッカケです。</p>
        <p>月１回本社で行われる定例会議にてオリジナルアプリを用いて提案を行い、ご紹介制度の活用促進に寄与しました。</p>
        <p>インプットした知識を活用し、現職に生かす事が出来たことは自信となりました。</p>
        <p>またプログラミング学習を通して、エラーや間違いを見つける見直しの癖を定着、また分からないことに対して自力で情報を探し解決に導く力も養う事が出来たと感じています</p>
      </div>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>こだわりの機能</h3>
        <hr>
        <p>ユーザー登録機能にて、会員登録からログインを行わないとアプリを利用出来ない仕組みです。</p>
        <p>ログイン後、お客様名、ご利用店舗、担当スタッフ、ご紹介社名を入力いただきます。</p>
        <p>入力後、ご紹介番号が発行されます。</p>
        <p>入力された情報を店舗間で共有することで、紙媒体のお客様ご紹介カードを渡す必要がなくなり、シームレスに顧客の和を広げることが可能です。</p>
      </div>
      <div class="app-word1">
        <h3>言語 & 技術</h3>
        <hr>
        <p>バックエンド : Ruby</p>
        <p>フロントエンド : HTML  /  CSS  /  JavaScript  /  Jquery</p>
        <p>ライブラリ : Ruby on rails   
        <p>デプロイ : Heroku</p>
        <p>データベース : MySQL2</p>
        </div>
    </div>
  </div>

  <div class="app-box1">
    <div class="app-box2 fadeUpTrigger" id="app-photo1">
      <a href="https://nozomi-hasei.herokuapp.com/"><img src="/assets/c9ec750bb152e065db82cd8348cf2353.jpeg" alt=""></a>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>アプリ概要</h3>
        <hr>
        <p>アプリ名：長谷井望のポートフォリオ</p>
        <p>2022年の1月3日より本格的に制作を開始し、ほほ毎日制作の時間を作りコミットを継続しました。</p>
        <p>
        <p>デザインなどは写真家のヨシダナギさんのホームページを参考にさせていただきながら、自分の色を追加していきました。</p>
      </div>
      <div class="app-word1">
        <h3>制作背景</h3>
        <hr>
        <p>プログラミング学習の成果物として、またキャリアチェンジを行う上で自分自身を表現するポートフォリオとして制作しています。</p>
        <p>また今後、フロントエンジニア、フォトグラファー、動画クリエイターとして個人の名前で活動できるようになるためのプラットフォームとして日々サイト内の
        アップデートを行なって行きたいと思っています。</p>
      </div>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>こだわりの機能</h3>
        <hr>
        <p>ブラックを基調としたシックでカッコいい質感に、アクセントの２色を織り交ぜたカラーリングにしています。</p>
        <p>浮遊感のある動きで、リッチでモダンな印象を表現するためにライブラリの "Luxy" を導入。</p>
        <p>一眼レフで写真撮影をすることが好きで、各所に自分自身で撮影した写真を掲載。</p>
        <P>レスポンシブデザインにも対応(デスクトップ / タブレット / スマートフォン)</p>
      </div>
      <div class="app-word1">
        <h3>言語 & 技術</h3>
        <hr>
        <p>バックエンド : Ruby</p>
        <p>フロントエンド : HTML  /  CSS  /  JavaScript  /  Jquery</p>
        <p>ライブラリ : Ruby on rails  /  Luxy  /  Lightbox 
        <p>デプロイ : Heroku</p>
        <p>データベース : MySQL2</p>
      </div>
    </div>
  </div>
