<%#ORIGINAL APPスタート--------------------------------------%>
<h1><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">ORIGINAL APP</span></span></h1>
  <div class="app-box1">
    <div class="app-box2 fadeUpTrigger">
      <a href="https://ringjacket.herokuapp.com/"><img src="/assets/RINGJACKET.jpg" alt=""></a>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>アプリ概要</h3>
        <p>アプリ名：RING JACKET お客様ご紹介アプリ</p>
        <p>制作日数：約２週間</p>
      </div>
      <div class="app-word1">
        <h3>制作の背景</h3>
        <p>現職にて”新規獲得”という課題に対する施策の一貫として、紙媒体でのお客様ご紹介カードを非接触にて活用出来ないかと考えたのが開発のキッカケです。</p>
        <p></p>
      </div>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>こだわりの機能</h3>
        <p>ユーザー登録機能にて、会員登録からログインを行わないとアプリを使用できない</p>
      </div>
      <div class="app-word1">
        <h3>言語&技術一覧</h3>
        <p>バックエンド：Ruby / Ruby on rails </p>
        <p>フロントエンド：HTNL5 / CSS3 / JavaScript / jquery</p>
      </div>
    </div>
  </div>
  <div class="app-box1">
    <div class="app-box2 fadeUpTrigger">
      <a href="https://nozomi-hasei.herokuapp.com/"><img src="/assets/RpmUtKKQOle0vL41642946138_1642946152.jpg" alt=""></a>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>アプリ概要</h3>
        <p>アプリ名：ポートフォリオ</p>
        <p>制作日数：約２週間</p>
      </div>
      <div class="app-word1">
        <h3>制作の背景</h3>
        <p>自分自身の魅力の発信、プログラミング学習の成果物の一貫として制作している。</p>
        <p></p>
      </div>
    </div>
    <div class="app-word fadeUpTrigger">
      <div class="app-word1">
        <h3>こだわりの機能</h3>
        <p>写真家のヨシダナギさんのHPを参考にさせていただき、ブラックを基調としたシックでカッコいい質感にしています。</p>
        <p>浮遊感のある動き、リッチでモダンな印象を目指しました</p>            
      </div>
      <div class="app-word1">
        <h3>言語&技術一覧</h3>
        <p>バックエンド：Ruby / Ruby on rails </p>
        <p>フロントエンド：HTNL5 / CSS3 / JavaScript / jquery</p>
      </div>
    </div>
  </div>