html{
  max-height: 2000px;
  font-size: 62.5%;
}

body{
  background:#000000;
  margin: 0;
  max-height: 2000px;
}

section{
  height: 800px;
}


p{
  color: rgb(182, 182, 182);
  font-size: 2.0rem;
  padding: 1.5%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
  color: rgb(182, 182, 182);
  text-decoration: none;
}

h1:hover a{
  text-decoration: line-through solid  rgba(255, 255, 255, 0.15);
}

/*========= top画像 ===============*/
.img-wrap{
  position: relative; 
  animation: change-color-anim 10s linear infinite;
}

.top-photo{
  max-height: 2000px;
}

.top-photo img{
  max-width: 100%;
  height: 90vh;
  margin-left: 10%;
  animation: change-color-anim 10s linear infinite;
}

@keyframes change-color-anim {
  0%{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
	}

  20%{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
	}

  60%{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  100%{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}


/*========= top画像1アニメーション ===============*/
.img-wrap1 {
  overflow: hidden;
  position: relative;
  max-height: 100%;
  padding: 0 0 0 0;
  filter: brightness(90%);
  
}

.img-wrap1:before {
  animation: img-wrap1 1s cubic-bezier(.4, 0, .2, 1) forwards;
  background: rgb(0, 0, 0);
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap1 {
  100% {
    transform: translateX(100%);
  }
}

/*========= top画像2アニメーション ===============*/
/*.img-wrap2 {
  overflow: hidden;
  position: relative;
  max-height: 100%;
  padding:0 0 0 0;
  filter: brightness(90%);
}

.img-wrap2:before {
  animation: img-wrap2 1s cubic-bezier(.4, 0, .2, 1) forwards;
  background: rgb(0, 0, 0);
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap2 {
  100% {
    transform: translateX(-100%);
  }
}*/


.top-photo-font p{
  writing-mode: vertical-rl;
  white-space: pre;
  position: absolute;
  top: 45vh;
  left: 5%; 
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 3.0rem;
  letter-spacing: 5px;
  color: rgba(210, 210, 210, 0.865);
  text-decoration: line-through solid  rgba(111, 179, 127, 0.24);
  text-decoration-thickness: 13px;
}

/*.top-photo-font hr{
  height: 100px;
  background: rgba(209, 209, 209, 0.183);
  position: absolute;
  top: 30%;
  left: -35%;
  transform: rotate(45deg)
}:*/


img{
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: brightness(70%);
}

.area:hover img{
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  filter: grayscale(70%);
}

.app-box1:hover img{
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  filter: grayscale(70%);
}


/* スマホ */

@media only screen and (max-width: 599px) {
  
  .top-photo img{
    max-width: 100%;
    height:45vh;
    margin-left: 10%;
  }
  
  .top-photo-font p{
    writing-mode: vertical-rl;
    position: absolute;
    top: 15vh;
    left: 5%; 
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgba(210, 210, 210, 0.865);
    text-decoration: line-through solid  rgba(111, 179, 127, 0.24);
    text-decoration-thickness: 13px;
  }
  


}

header{
  background-color: rgba(98, 55, 55, 0);
}

header .top-item{
  width: 100%;
}

header h1{
  position: relative;
  text-align: center;
  padding: 1%;
  font-size: 3.5rem;
  letter-spacing: 8px;
  font-weight: 100;
}

header .top-item ul{
  position: absolute;
  display: flex;
  list-style: none;
  right: 160px;
  top: 1.8vh;
}
header .top-item li{
  padding: 0 15% 0 15%;

}


header #logo{
  height: 25px;
  width: 25px;
}

header #logo:hover{
  transform: scale(1.3);
  transition-duration: 0.7s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

h1{
  text-align: center;
  font-size: 3.0rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
  color: rgb(182, 182, 182);
}

h1:hover{
  color: gray;
  text-decoration: line-through solid  rgba(255, 253, 253, 0.3);
}

a:hover{
  color: gray;
  text-decoration: line-through solid  rgba(255, 255, 255, 0.15);
}

.wrapper .tab li a:hover{
  color: gray;
  text-decoration: line-through solid  rgba(255, 255, 255, 0.246);
}

h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.5rem;
  font-weight: 100;
  padding: 3%;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(182, 182, 182);
}


h3{
  position: relative;
  display: inline-block;
  padding:  15px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 100;
  font-size: 2.5rem;
}

h4{
  color: rgb(255, 255, 255);
}


/* スマホ */

@media only screen and (max-width: 599px) {

  header .top-item ul{
    position: absolute;
    display: flex;
    list-style: none;
    right: 13vw;
    top: 0.2vh;
  }
  header .top-item li{
    padding: 0 10% 0 10%;
  
  }
  
  header #logo{
    height: 10px;
    width: 10px;
  }

  header h1{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 3px 0 3px 0;
  }
  
  h1{
    font-size: 14px;
  letter-spacing: 2px;
  }

  h2{
  font-size: 14px;
  white-space: pre;
  letter-spacing: 2px;
  }

  h3{
    font-size: 12px;
    white-space: pre;
  }

  h3:before, h3:after {
    top: 47%;
    display: inline-block;
    width: 35px;
    height: 5px;
    border-top: solid 0.5px rgb(255, 255, 255);
    border-bottom: solid 0.5px rgb(255, 255, 255);
  }

  p{
    font-size: 10px;
  }
}
.wrap{
  padding: 1% 0 1% 0;
  margin: 1% 1% 3% 1%;
  border-top: double 7px rgba(112, 179, 173, 0.485);
  border-bottom: double 7px rgba(111, 179, 127, 0.485);
}

/*=========about=========*/
.area{
  position:relative;
  margin: 10% 15% 50% 15%;
  max-width: 100%;
  max-height: 800px;
}


/*1,3目写真*/
.area img{
  top:10px;
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
}



/*1,3目写真の文章*/
.area .box{
  position: absolute;
  top:30%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  background-color: #00000060;
  box-shadow: 7px 7px 0px 0 #00000033;
}

/*２目写真の文章*/
.area:nth-child(2n) .box{
  margin-left: auto;
  margin-right: auto;
}

.area .luxy-el #original{
  position: absolute;
  top:30%;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: #00000060;
  box-shadow: 7px 7px 0px 0 #00000033;
}

/* スマホ */

@media only screen and (max-width: 599px) {
  .area{
    margin:5% 15% 0% 15%;
    height: 700px;
  }

  .area .box{
    top:80%;
  }

  .area .luxy-el #original{
    top: 0%;
  }


}
/*=========ORIGINAL APP=========*/

.app-box1{
  height: auto;
  margin-top: 10%;
}

.app-box1 .app-box2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 800px;
  height: 600px;
}

.app-box1:hover img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: scale(1.1);
  transition-duration: 0.7s;
}


.app-box2:hover img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: scale(1.1);
  transition-duration: 0.7s;
}


.app-word{
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
  height: 500px;
}


.app-word1{
  width: 40%;
  height: 400px;
  text-align: center;
}

.app-word1 p{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(182, 182, 182);
}


/* スマホ */

@media only screen and (max-width: 599px) {

  .app-word{
    height: 350px;
  }

  .app-box1 .app-box2 img{
    height: 190px;
    width: 280px;
  }
}

/*=========WORK CSS=========*/

.area-tab{
  max-height: 3000px;
}

.container-work{ 
  display: grid;
  grid-template-columns:  1fr 1fr ;
}

.item{
  background-color: black;
  padding: 20px;
  margin: 15% 0 15% 0;
}

.item img{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  transition:0.5s;
  transition:0.5s;
}

.item img:hover{
  transform: scale(1.1);
  transition-duration: 0.7s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}


.item video:hover{
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.gallery img:hover{
  transform: scale(1.1);
  transition-duration: 0.7s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.item  p {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(182, 182, 182);
  font-weight: 100;
  font-size: 1.5rem;
}
.container-work .item img {
  height: auto;
  width: 100%;

}

.container-work .item video {
  height: auto;
  width: 100%;
}

#logo{
  max-height: 40px;
  max-width: 40px;
  display: flex;
}

.tab-skill1{
  display: flex;
  justify-content: space-around;
  margin: 8%;
}

.tab-skill2{
  height: 300px;
}

.tab-photo img{
  height: 200px;
  width: 300px;
}

.tab-photo:hover img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.tab-plus{
  margin-top: 5%;
}

.tab-plus p{
  font-size: 4.0rem;
  font-weight: 100;
}

/* スマホ */

@media only screen and (max-width: 599px) {

  .item{
    padding: 5px;
    margin: 10% 2% 10% 2%;
  }


  .item img{
    width: 200px;
  }

  .container-work  .item video{
    width: 180px;
  }

  .item h2{
    letter-spacing: 1px;
  }

  .item  p{
    font-size: 8px;
  }

  .tab-skill1{
    margin-top: 8%;
    height: 50px;
  }

  .tab-skill2{
    height: 400px;
    width: auto;
  }

  .tab-photo img{
    height: 50px;
    width: 80px;
  }

  .tab-plus{
    margin-top: 3%;
  }

  .tab-plus p{
    font-size: 20px;
    font-weight: 100;
  }
}
/*=========CONTACT FORM CSS=========*/

.contact{
  display: block;
  margin: 4% 20% 4% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form p{
  font-size: 2.0vh;
}

form input{
  letter-spacing: 2px;
}

form #contact-ward{
  margin-top: 2.0%;
}

form #contact-ward p{
  font-size: 1.5vh;
  color: rgb(182, 182, 182);
}

form{
  background-color: rgb(0, 0, 0);
  height: 1400px;
  display: block;
}


form .form-company{
  height: 70px;
  width: 90%;
}

form .form-name{
  height: 70px;
  width: 90%;
}

form .form-e-mail{
  height: 70px;
  width: 90%;
}

form .form-message{
  height: 500px;
  width: 90%;
  font-size: 1.4vh;
  padding-top: 2%;
  letter-spacing: 2px;
}


form .form-submit{
  height: 50px;
  width: 150px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

form .form-submit:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* スマホ */

@media only screen and (max-width: 599px) {

  form p{
    font-size: 1.0vh;
  }
  
  form input{
    letter-spacing: 2px;
    font-size: 8px;
  }
  
  form #contact-ward{
    margin-top: 2.0%;
  }
  
  form #contact-ward p{
    font-size: 8px;
    word-break: keep-all;
    text-align: center;
    color: rgb(182, 182, 182);
  }
  
  form{
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: block;
    margin-top: 2%;
  }
  
  
  form .form-company{
    height: 15px;
    width: 90%;
  }
  
  form .form-name{
    height: 15px;
    width: 90%;
  }
  
  form .form-e-mail{
    height: 15px;
    width: 90%;
  }
  
  form .form-message{
    height: 200px;
    width: 90%;
    font-size: 5px;
    padding-top: 2%;
    letter-spacing: 2px;
  }
  
  
  form .form-submit{
    height: 30px;
    width: 70px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
  }
  
  form .form-submit:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
}


/*=========Footer=========*/

footer{
  width:100%;
  z-index: 999;
  bottom:80px;
  height:50px;
  color: rgb(182, 182, 182);
  text-align: center;
  background:rgb(0, 0, 0);
}

footer h2{
  font-size: 2.0vh;
}

footer p{
  font-size: 1.5vh;
}

footer .footer-area{
  height: 200PX;
}

/* スマホ */

@media only screen and (max-width: 599px) {

  footer h2{
    font-size: 5px;
  }

  footer p{
    font-size: 2px;
  }
}

/*=========ギャラリーのためのcss=======*/

.photo-wrap{
  margin-top: 3%;
  margin-bottom: 3%;
}

.gallery{
  columns: 4;/*段組みの数*/
  padding:0 15px;/*ギャラリー左右に余白をつける*/
  }
  
  .gallery li {
      margin-bottom: 20px;/*各画像下に余白をつける*/
  }
  
  /*ギャラリー内のイメージは横幅100%にする*/
  .gallery img{
    width:100%;
    height:auto;
    vertical-align: bottom;/*画像の下にできる余白を削除*/}
  
  /*　横幅900px以下の段組み設定　*/
  @media only screen and (max-width: 900px) {
    .gallery{
    columns:3;
    } 
  }
  
  @media only screen and (max-width: 768px) {
    .gallery{
    columns: 2;
    } 
  }
  
  

  /*画像を出現させるアニメーションCSS*/
  
  .flipLeft{
  animation-name: flipLeft;
  animation-duration:0.2s;
  animation-fill-mode:forwards;
  perspective-origin: left center;
  opacity: 0;
  }
  
  @keyframes flipLeft{
    from {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0;
    }
  
    to {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
    }
  }

hr{
  width: 100%;
  color:rgb(182, 182, 182);
  border:none;
  height:1.5px;
  margin-bottom: 3%;
  background:linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255),rgba(255, 255, 255, 0));
}


/*========= ローディング ===============*/

/*全共通*/

.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 5%;
    margin-top: 8%;
    background-color: rgba(112, 179, 173, 0.619);/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}

/*========= ローディング(要素) ===============*/


.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:2.0s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity:   0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  .fadeUpTrigger{
      opacity: 0;
  }
  


  /*========= ぼかしのためのCSS ===============*/

.mainblur{
	filter: blur(8px);
}


/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
	z-index: -1;
	opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
	top:0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
	width:100%;
  margin: 0;
	background:rgba(255, 255, 255, 0.875);/*背景を少し透過させる*/
    /*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
	opacity: 1;
	z-index:999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;/*はじめは非表示*/
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    display: block;
}
/*リストのレイアウト設定*/

#g-nav li{
	  list-style: none;
    text-align: center; 
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:30px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 200;
  font-size: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#g-nav li:hover a{
  text-decoration: line-through solid  rgba(112, 179, 173, 0.619);
}
/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top: 0vh;
	right: 0.4vw;
	cursor: pointer;
    width: 70px;
    height:70px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    top: 18px;
    height: 3px;
    border-radius: 2px;
	background-color: #666;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:20px;	
  left:20px;
}

.openbtn span:nth-of-type(2) {
	top:34px;
  left: 20px;
}

.openbtn span:nth-of-type(3) {
	top:48px;
  left: 20px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/* スマホ */

@media only screen and (max-width: 599px) {

  #g-nav ul {
    display: none;/*はじめは非表示*/
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}

  #g-nav li a{
    color: #333;
    padding:20px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
    white-space: pre;
  }

  .openbtn{
    position:fixed;
      z-index: 9999;
    top: 4px;
    right: 7px;
    cursor: pointer;
      width: 25px;
      height:25px;
  }
    
  /*×に変化*/	
  .openbtn span{
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 14px;
      top: 18px;
      height: 1px;
      border-radius: 2px;
    background-color: #666;
      width: 45%;
    }
  
  .openbtn span:nth-of-type(1) {
    top:7px;	
    left:7px;
  }
  
  .openbtn span:nth-of-type(2) {
    top:12px;
    left:7px;
  }
  
  .openbtn span:nth-of-type(3) {
    top:17px;
    left: 7px;
  }
  
  .openbtn.active span:nth-of-type(1) {
      top: 8px;
      left: 7px;
      transform: translateY(5px) rotate(-45deg);
      width: 40%;
  }
  
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .openbtn.active span:nth-of-type(3){
      top: 16px;
      left:7px;
      transform: translateY(-3px) rotate(45deg);
      width: 40%;
  }
  
}
/*==============タブ================*/



/*tabの形状*/
.tab{
	display: flex;
  justify-content: space-around;
	flex-wrap: wrap;
  list-style: none;
  margin: -1% 1% 2% 1%;
  border-top: double 7px rgba(179, 112, 143, 0.485);
  border-bottom: double 7px rgba(149, 112, 179, 0.485);
  padding: 0.5% 0% 0.5% 0%;
}
.tab li a{
	display: block;
	background:rgb(0, 0, 0);
	padding:10px 50px;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*liにactiveクラスがついた時の形状*/
.tab .active a{
  background-color:rgba(149, 112, 179, 0.485);
  margin: 0 4% 0 4%;
}


/*エリアの表示非表示と形状*/
.area-tab {
  display: none;
	opacity: 0;/*透過0*/
	background: rgb(0, 0, 0);
}

/*areaにis-activeというクラスがついた時の形状*/
.area-tab.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.wrapper{
  width:100%;
  height: auto;
  margin-top: 5%;
  background:hsl(0, 0%, 0%);
}

/* スマホ */
@media only screen and (max-width: 599px) {
  .tab li a{
    display: block;
    background:rgb(0, 0, 0);
    margin:0 5px;
    padding:1px 2px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .tab .active a{
    background-color:rgba(149, 112, 179, 0.485);
    margin: 0 5px 0 5px;
  }

  .wrapper{
    width:100%;
    height: 1500px;
    background:hsl(0, 0%, 0%);
    margin-top: 3%;
  }
}