body{
  background:#000000;
  max-height: auto;
}

section{
  height: 800px;
}

p{
  color: rgb(182, 182, 182);
  font-size: 150%;
}

.top-photo-font p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-family: 'Domine', serif;
  font-family: 'Meow Script', cursive;
  font-weight: 300;
  font-size: 5rem;
  color: rgba(210, 210, 210, 0.865);
}




img{
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.area:hover img{
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.app-box1:hover img{
  transform: scale(1.1);
  transition-duration: 0.7s;
}



h1{
  text-align: center;
  font-size:2.5rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15em;
  color: rgb(182, 182, 182);
}

h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-align: center;
  margin:0 0 50px 0;
  overflow-wrap: break-word;
  color: rgb(182, 182, 182);
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}

h3{
  position: relative;
  display: inline-block;
  padding: 0 55px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 1;
  font-size: 1.5rem;
}

h3:before, h3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 4px;
  border-top: solid 1px rgb(255, 255, 255);
  border-bottom: solid 1px rgb(255, 255, 255);
}

h3:before {
  left:0;
}
h3:after {
  right: 0;
}

h4{
  color: rgb(255, 255, 255);
}

.wrap{
  max-height: 200px;
  margin-top: 3%;
  margin-bottom: 3%;
}


/*=========写真と文章=========*/
.area{
  position:relative;
  margin:0 auto 35% auto;
  max-width: 100%;
  max-height: 1000PX;
}



/*1,3目写真*/
.area img{
  top:10px;
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
}


/*1,3目写真の文章*/
.area .box{
  position: absolute;
  top:30%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 7px 7px 0px 0 #00000033;
}

/*２目写真の文章*/
.area:nth-child(2n) .box{
  margin-left: auto;
  margin-right: auto;
}


/*=========ORIGINAL APP=========*/

.app-box1{
  height: 1100px;
}

.app-box2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 500px;
  max-height: 500px;
}


.app-word{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  height: 200px;
  margin-top: 5%;
}

.app-word1{
  width: 40%;
  text-align: center;
}

.app-word1 p{
  color: #ffffff;
}

.app-word1 h3{
  font-size: 25px;
}

/*=========SKILL CSS=========*/
.container{ 
  display: grid;
  grid-template-columns:  1fr 1fr ;
}

.item{
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.item:hover img{
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.item:hover video{
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.item h2{
  margin-top: 10%;
}

.container .item img {
  height: auto;
  width: 100%;

}

.container .item video {
  height: auto;
  width: 100%;

}

#logo{
  max-height: 40px;
  max-width: 40px;
  display: flex;
}

/*=========CONTACT FORM CSS=========*/

.contact{
  display: block;
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrap{
  margin-top: 3%;
  margin-bottom: 3%;
}


form{
  background-color: rgb(0, 0, 0);
  height: 900px;
  display: block;
}


form .form-company{
  height: 50px;
  width: 700px;
}

form .form-name{
  height: 50px;
  width: 700px;
}

form .form-e-mail{
  height: 50px;
  width: 700px;
}

form .form-message{
  height: 500px;
  width: 700px;
}


form .form-submit{
  height: 50px;
  width: 100px;
}

/*=========Skill=========*/

.skill-wrap{
  margin-top: 3%;
  margin-bottom: 3%;
}

/*=========Footer=========*/

footer{
  width:100%;
  z-index: 999;
  padding:20px 0;
  bottom:80px;
  height:50px;
  color: #fff;
  text-align: center;
  background:rgb(0, 0, 0);
}

footer a{
  color:#fff; 
}

footer .footer-area{
  height: 300PX;
}

/*＝タブレット以下の見え方＝*/

@media screen and (max-width:768px){
.area figure{
  width:50%;
}
  
footer{
  position:inherit;
}

}

@media screen and (max-width:600px){
h2{
  text-align: center;
}
  
.area:nth-child(2n) figure {
    left: 0;
}
  
.area figure{
  width:100%;
}
.area .box,
.area:nth-child(2n) .box{
    position: relative;
    top: 0;
    left: 0;
  right: inherit;
  
}
}



#g-nav.panelactive{
  position:fixed;
  z-index: 999;
top: 0;
width:100%;
  height: 100vh;
}

.circle-bg{
  position: fixed;
z-index:3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(40, 40, 40);
transform: scale(0);
left:-50px;
  top:-50px;
  transition: all .6s;
}

.circle-bg.circleactive{
transform: scale(50);
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
  display: none;
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
  display: block; 
}

/*ナビゲーション*/
#g-nav ul {
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
  opacity:1;
}

#g-nav.panelactive h1 ul li{
animation-name:gnaviAnime;
animation-duration:1s; 
animation-delay:.2s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav li{
text-align: center; 
list-style: none;
}

#g-nav li a{
color: rgb(255, 255, 255);
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}


/*= ボタンのためのCSS =*/
.openbtn1{
position:fixed;
top:24px;
left: 10px;
z-index: 9999;
cursor: pointer;
  width: 50px;
  height:50px;
}

.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: rgb(255, 255, 255);
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
top:15px; 
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*========= 上部固定させるためのCSS ===============*/
#header{
  height: 70px;/*高さ指定*/
  width:100%;/*横幅指定*/
}
/*JSを使いfixedクラスが付与された際の設定*/
#header.fixed{
  position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
}

/*========= top画像 ===============*/
.top-photo img{
  max-width: 100%;
  height: auto;
}

.img-wrap{
  position: relative;
}
/*========= top画像1アニメーション ===============*/
.img-wrap1 {
  overflow: hidden;
  position: relative;
  max-height: 450px;
}

.img-wrap1:before {
  animation: img-wrap1 1s cubic-bezier(.4, 0, .2, 1) forwards;
  background: rgb(0, 0, 0);
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap1 {
  100% {
    transform: translateX(100%);
  }
}

/*========= top画像2アニメーション ===============*/
.img-wrap2 {
  overflow: hidden;
  position: relative;
  max-height: 450px;
}

.img-wrap2:before {
  animation: img-wrap2 1s cubic-bezier(.4, 0, .2, 1) forwards;
  background: rgb(0, 0, 0);
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap2 {
  100% {
    transform: translateX(-100%);
  }
}


/*=========ギャラリーのためのcss=======*/

.photo-wrap{
  margin-top: 3%;
  margin-bottom: 3%;
}

.gallery{
  columns: 4;/*段組みの数*/
  padding:0 15px;/*ギャラリー左右に余白をつける*/
  }
  
  .gallery li {
      margin-bottom: 20px;/*各画像下に余白をつける*/
  }
  
  /*ギャラリー内のイメージは横幅100%にする*/
  .gallery img{
    width:100%;
    height:auto;
    vertical-align: bottom;/*画像の下にできる余白を削除*/}
  
  /*　横幅900px以下の段組み設定　*/
  @media only screen and (max-width: 900px) {
    .gallery{
    columns:3;
    } 
  }
  
  @media only screen and (max-width: 768px) {
    .gallery{
    columns: 2;
    } 
  }
  
  

  /*画像を出現させるアニメーションCSS*/
  
  .flipLeft{
  animation-name: flipLeft;
  animation-duration:0.2s;
  animation-fill-mode:forwards;
  perspective-origin: left center;
  opacity: 0;
  }
  
  @keyframes flipLeft{
    from {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0;
    }
  
    to {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
    }
  }

hr{
  width: 100%;
  color: #fff;
  border:none;
  height:1.5px;
  background:linear-gradient(90deg, rgba(255, 255, 255, 0)0%,rgb(255, 255, 255)50%,rgba(255, 255, 255, 0)100%);
}


